* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div.flex-container {
  display: flex;
  flex-flow: row wrap;
  border: 2px dashed RoyalBlue;
  height: 200px;
  justify-content: space-between;
  align-items: center;
}
div.flex-container > div {
  padding: 10px 40px;
  background: LightSteelBlue;
  border: 2px solid RoyalBlue;
  font: 1.25em sans-serif;
}
div.flex-container > div:nth-child(2) {
  align-self: flex-end;
}
div.flex-container > div:nth-child(3) {
  align-self: flex-start;
}
