* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div.grid-container {
  display: grid;
  height: 200px;
  grid-template-columns: 100px 100px 100px;
  grid-template-rows: 100px 100px;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  border: 2px dashed DeepSkyBlue;
}
div.grid-container > div {
  padding: 10px 30px;
  background: LightBlue;
  border: 2px solid DeepSkyBlue;
  font: 1.25em sans-serif;
}
div.grid-container > div:nth-child(1) {
  grid-column: span 2;
  grid-row: 1;
}
div.grid-container > div:nth-child(2) {
  grid-column: 3;
  grid-row: 1 / 3;
}
div.grid-container > div:nth-child(3) {
  grid-column: 2;
  grid-row: 2;
}
body {
  background: Tomato;
}
@media screen and (min-width: 600px) and (max-width: 992px) {
  body {
    background: DarkOrange;
  }
}
@media screen and (max-width: 600px) and (orientation: landscape) {
  body {
    background: LimeGreen;
  }
}
@media screen and (max-width: 600px) and (orientation: portrait) {
  body {
    background: RoyalBlue;
  }
}
