* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div.newspaper {
  margin: 0 15px;
  column-gap: 50px;
  column-rule: 5px solid LightSteelBlue;
  columns: 100px 3;
}
h1,
h2 {
  padding: 10px 10px 10px;
  margin: 20px 0 0 0;
  background: LightSteelBlue;
  column-span: all;
}
div.flex-container {
  display: flex;
  flex-wrap: wrap;
  border: 2px dashed RoyalBlue;
}
div.flex-container > div {
  padding: 10px 40px;
  background: LightSteelBlue;
  border: 2px solid RoyalBlue;
  font: 1.25em sans-serif;
}
div.flex-container {
  display: flex;
  flex-wrap: wrap-reverse;
  background: RoyalBlue;
}
